@import 'reset';

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.toggle-div {
  color: white;
  background-color: black;
  padding: 30px;
}

.clicked-toggle-div {
  color: black;
  background-color: white;
  padding: 30px;
}
