@import 'reset';

.props-div {
  border: 1px solid black;
  padding: 5px;
  margin: 20px 0;
}

h1 {
  font-family: serif;
  font-size: 2em;
  font-weight: bold;
  color: green;
}

h2 {
  font-family: Helvetica;
  font-size: 1.5em;
  color: lightgreen;
}
